.o_fsm_product_quantity {
    z-index: 1;
    font-size: $font-size-lg * 1.5;

    span {
        min-width: 40px;

        &.o_input {
            // to prevent the "mini flicker" on the display name of the product.
            margin-bottom: -1px;
        }
    }
}
